[Unit]
Description=MyApp
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/mikh_androsov/reddit
ExecStart=/usr/local/bin/puma -d
Restart=always
[Install]
WantedBy=multi-user.target
