project = "project_id"
public_key_path = "~/.ssh/appuser.pub"
private_key_path = "~/.ssh/appuser"
disk_image = "reddit-base"
public_key = [
    "appuser:ssh-rsa ASSAB3NzaC1yc3CBBBBDAQABAAABAQC3ZGfEhcYLORqG4R8fYssFdXYmSOsw6HjM1rfqc9zS4golKhrCz+OXM0vQ3XCPraA+msD2N0MY88CI9m0LjkN1s+qY4AcEmcepeIg/IMqJXG/IdazVA7tDFD6/TMlgjXO9dDAkrDa/p/MuW113jHWkd89N+T5dGsirsRDnA7yDmJwJB+HFH//mY4ZUwNPqKJE0MilnSBLt+7rACe1jXFbNfrYMgXNoGWybUwnXDv8LusOHnO4+sDnVxy4NN6kKwHT6RDx4SYrGe0LsBwK5xY0ji5RM0jUq+NLTRcXeAOqP2zLfUM4wLn1+Js9vOYLjefQQdHqCPv8ygnyIWjAceLlX appuser",
    "appuser1:ssh-rsa ASSAB3NzaC1yc3CBBBBDAQABAAABAQC3ZGfEhcYLORqG4R8fYssFdXYmSOsw6HjM1rfqc9zS4golKhrCz+OXM0vQ3XCPraA+msD2N0MY88CI9m0LjkN1s+qY4AcEmcepeIg/IMqJXG/IdazVA7tDFD6/TMlgjXO9dDAkrDa/p/MuW113jHWkd89N+T5dGsirsRDnA7yDmJwJB+HFH//mY4ZUwNPqKJE0MilnSBLt+7rACe1jXFbNfrYMgXNoGWybUwnXDv8LusOHnO4+sDnVxy4NN6kKwHT6RDx4SYrGe0LsBwK5xY0ji5RM0jUq+NLTRcXeAOqP2zLfUM4wLn1+Js9vOYLjefQQdHqCPv8ygnyIWjAceLlX appuser1",
    "appuser2:ssh-rsa ASSAB3NzaC1yc3CBBBBDAQABAAABAQC3ZGfEhcYLORqG4R8fYssFdXYmSOsw6HjM1rfqc9zS4golKhrCz+OXM0vQ3XCPraA+msD2N0MY88CI9m0LjkN1s+qY4AcEmcepeIg/IMqJXG/IdazVA7tDFD6/TMlgjXO9dDAkrDa/p/MuW113jHWkd89N+T5dGsirsRDnA7yDmJwJB+HFH//mY4ZUwNPqKJE0MilnSBLt+7rACe1jXFbNfrYMgXNoGWybUwnXDv8LusOHnO4+sDnVxy4NN6kKwHT6RDx4SYrGe0LsBwK5xY0ji5RM0jUq+NLTRcXeAOqP2zLfUM4wLn1+Js9vOYLjefQQdHqCPv8ygnyIWjAceLlX appuser2",
    "appuser3:ssh-rsa ASSAB3NzaC1yc3CBBBBDAQABAAABAQC3ZGfEhcYLORqG4R8fYssFdXYmSOsw6HjM1rfqc9zS4golKhrCz+OXM0vQ3XCPraA+msD2N0MY88CI9m0LjkN1s+qY4AcEmcepeIg/IMqJXG/IdazVA7tDFD6/TMlgjXO9dDAkrDa/p/MuW113jHWkd89N+T5dGsirsRDnA7yDmJwJB+HFH//mY4ZUwNPqKJE0MilnSBLt+7rACe1jXFbNfrYMgXNoGWybUwnXDv8LusOHnO4+sDnVxy4NN6kKwHT6RDx4SYrGe0LsBwK5xY0ji5RM0jUq+NLTRcXeAOqP2zLfUM4wLn1+Js9vOYLjefQQdHqCPv8ygnyIWjAceLlX appuser3"
]
