{
    "variables": {
      "my_project_id": "{{env `projectus`}}",
      "my_source_image_family": "{{env `ubuntu-38.10-lts`}}",
      "my_machine_type": "{{env `high-perfomance inst`}}",
      "my_firewall_rule": "{{env `very-good-rule`}}"
    }
  }
